body{
    background-color:#dd826167;
    margin: 50px;
}
h1{
    color: rgba(178, 34, 34, 0.884);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0mm;
    text-align: center;
}
p{
    color: rgb(87, 27, 4);
}
a{
    text-decoration: none;
    color: maroon;
}
img{
    width: 200px;
    height: 200px;
    image-rendering: crisp-edges;
}
div{
    padding: 2px;
    border: 2px solid maroon; ;
}